/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: "Bitstream Vera Sans Mono", Consolas, Monaco, "Andale Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.regex,
.token.important {
  color: #e90; }

.token.important {
  font-weight: bold; }

.token.entity {
  cursor: help; }

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em; }

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  /* Same as .prism’s padding-top */
  background: rgba(153, 122, 102, 0.1);
  pointer-events: none;
  line-height: inherit;
  white-space: pre; }

.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: .4em;
  left: .6em;
  min-width: 1em;
  padding: 0 0.5em;
  background-color: rgba(153, 122, 102, 0.4);
  color: #f5f2f0;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: .3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px white; }

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em; }

.swatch {
  margin: 0 0 27px 0;
  padding: 0; }

.swatch-row {
  display: block;
  margin: 0;
  padding: 0;
  width: 200px; }

.swatch-row span {
  display: block;
  float: left;
  width: 50px;
  height: 50px; }

.swatch-base .swatch-row-one span:nth-child(1) {
  background-color: #c64227; }

.swatch-base .swatch-row-one span:nth-child(2) {
  background-color: #aa3921; }

.swatch-base .swatch-row-one span:nth-child(3) {
  background-color: #8d2f1c; }

.swatch-base .swatch-row-one span:nth-child(4) {
  background-color: #712616; }

.swatch-base .swatch-row-two span:nth-child(1) {
  background-color: #c64227; }

.swatch-base .swatch-row-two span:nth-child(2) {
  background-color: #e07762; }

.swatch-base .swatch-row-two span:nth-child(3) {
  background-color: #eeb5a9; }

.swatch-base .swatch-row-two span:nth-child(4) {
  background-color: #fcf2f0; }

.swatch-secondary .swatch-row-one span:nth-child(1) {
  background-color: #5c7d4d; }

.swatch-secondary .swatch-row-one span:nth-child(2) {
  background-color: #4d6840; }

.swatch-secondary .swatch-row-one span:nth-child(3) {
  background-color: #3d5333; }

.swatch-secondary .swatch-row-one span:nth-child(4) {
  background-color: #2e3e26; }

.swatch-secondary .swatch-row-two span:nth-child(1) {
  background-color: #5c7d4d; }

.swatch-secondary .swatch-row-two span:nth-child(2) {
  background-color: #86aa75; }

.swatch-secondary .swatch-row-two span:nth-child(3) {
  background-color: #b4caaa; }

.swatch-secondary .swatch-row-two span:nth-child(4) {
  background-color: #e2ebde; }

.swatch-tertiary .swatch-row-one span:nth-child(1) {
  background-color: #a28836; }

.swatch-tertiary .swatch-row-one span:nth-child(2) {
  background-color: #88732d; }

.swatch-tertiary .swatch-row-one span:nth-child(3) {
  background-color: #6f5d25; }

.swatch-tertiary .swatch-row-one span:nth-child(4) {
  background-color: #56481c; }

.swatch-tertiary .swatch-row-two span:nth-child(1) {
  background-color: #a28836; }

.swatch-tertiary .swatch-row-two span:nth-child(2) {
  background-color: #cbb262; }

.swatch-tertiary .swatch-row-two span:nth-child(3) {
  background-color: #e0d1a2; }

.swatch-tertiary .swatch-row-two span:nth-child(4) {
  background-color: #f5f1e2; }

.swatch-neutral .swatch-row-one span:nth-child(1) {
  background-color: #7d603e; }

.swatch-neutral .swatch-row-one span:nth-child(2) {
  background-color: #664f33; }

.swatch-neutral .swatch-row-one span:nth-child(3) {
  background-color: #503d27; }

.swatch-neutral .swatch-row-one span:nth-child(4) {
  background-color: #392c1c; }

.swatch-neutral .swatch-row-two span:nth-child(1) {
  background-color: #7d603e; }

.swatch-neutral .swatch-row-two span:nth-child(2) {
  background-color: #b08b60; }

.swatch-neutral .swatch-row-two span:nth-child(3) {
  background-color: #ccb599; }

.swatch-neutral .swatch-row-two span:nth-child(4) {
  background-color: #e8ded2; }
