// IMPORTANT: the path of the SASSpool folder needs to be defined in the import rules within this document (except for settings).

// Table of Contents
// -------------------------------------------------------------

// ::Utilities
// ::Settings

// ::Reset
// ::Base styles

// ::Layout styles
// ::Media queries
// ::State styles
// ::Debugs



// ::Settings and ::Utilities
// ------------------------------------------------------------
@import "libs/utilities";
@import "settings";



// ::Reset
// ------------------------------------------------------------
@import "libs/reset";



// ::Base styles Almost exclusively single element selectors
// ------------------------------------------------------------

@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@-webkit-viewport { width: device-width; }
@viewport { width: device-width; }

html {
	background: $body-color;
	font-size: percent($base-font-size, 16px);
	-webkit-overflow-scrolling: touch;
	// -webkit-tap-highlight-color: $lightestneutralcolor;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-color: transparent;
	color: $text-color;
	font-family: $base-font-family;
	font-size: rel($base-font-size);
	line-height : $base-line-height;
	width : 100%;
}

a {
	color: $link-color;
	@include force-wrap;					// force text links to wrap
	&:hover {
		color: $link-color-hover;
	}
	&:visited {
		color: $link-color-visited;
	}
	&:focus, &:active {
		color: $link-color-focus;
	}
}

a {
    @include mq(500, true) {
        color: $black;
    }
}



// Import base typography into the cascade (if required)
// @import "libs/typography"; 		


// Import form styles into the cascade (if required)
// @import "libs/forms";			



// -------------------------------------------------------------------------------------------------------

// All the below can be removed if need be

// -------------------------------------------------------------------------------------------------------




/* ::Layout styles - Layouts hold one or more modules together. */
/* ------------------------------------------------------------ */

// .container {
// 	@extend %cf;
// 	margin: 0 auto;
// }
// 
// /* Example styles - you'll most likey want to remove*/
// header {
// 	@include padding-leader(4);
// 	@include padding-trailer(2);
// 	@include trailer(6);
// 	background: #333;
// 	h1 { color: #fff; }
// }
// 
// section 				{ @extend .clearfix; }
// h1 						{ font-weight: 600; }
// ol 						{ @include ordered-inside }
// ul 						{ @include unordered-inside }