// Table of Contents
// -------------------------------------------------------------

// ::Utilities
// ::Settings

// ::Reset
// ::Base styles

// ::Layout styles
// ::Module styles
// ::State styles
// ::Theme styles



// ::Settings and ::Utilities
// ------------------------------------------------------------
@import "libs/utilities";
@import "settings";



// ::Reset
// ------------------------------------------------------------
@import "libs/reset";



// ::Base styles - almost exclusively single element selectors
// ------------------------------------------------------------

@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@-webkit-viewport { width: device-width; }
@viewport { width: device-width; }

html {
	background: $body-color;
	font-size: percent($base-font-size, 16px);
	-webkit-overflow-scrolling: touch;
	// -webkit-tap-highlight-color: $lightestneutralcolor;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-color: transparent;
	color: $text-color;
	font-family: $base-font-family;
	font-size: rel($base-font-size);
	line-height : rel($base-line-height);
	border: rel($large-font-size);
	border: rel($largest-font-size);
	border: rel($small-font-size);
	border: rel($smallest-font-size);
	width : 100%;
}

sup, sub { line-height:0; font-size:rel($smallest-font-size ); }

a {
	color: $link-color;
	@include force-wrap;					// force text links to wrap
	&:hover {
		color: $link-color-hover;
	}
	&:visited {
		color: $link-color-visited;
	}
	&:focus, &:active {
		color: $link-color-focus;
	}
}

a {
	display: block;
    @include mq(500px) {
        color: $black;
    }
}

@include mq((500, 800), true, true, (min, max), (width, width)) {
    a { color: $black; }
    em { color: $black; }
    strong { color: $black; }
}


// Import base typography into the cascade (if required)
// @import "libs/typography";


// Import form styles into the cascade (if required)
// @import "libs/forms";



// ::Layout styles
// ------------------------------------------------------------

// grid
// the grid styles are in grid.css (to speed up compiling) - for production it would be good to move them here



// ::Module styles
// ------------------------------------------------------------



// ::State styles
// ------------------------------------------------------------



// ::Theme styles
// ------------------------------------------------------------

// n/a
