//
//   @heroes
// --------------------------------------------------------
//  _4_modules/_heroes.scss
// --------------------------------------------------------
//
//  Just your everyday, normal hero.  Contains a div that has
//  the media (video or image) in the background, and a div
//  for the main content.
//
// --------------------------------------------------------
//
//  Example: Hero
//  <div class="hero">
//    <div class="hero__main"><h1>Hello, there</h1></div>
//    <div class="hero__media"><img src="http://fillmurray.com/1000/400"></div>
//  </div>
//
// --------------------------------------------------------

.hero {
  position: relative;
  .container {
    position: relative;
  }
}

.hero__media {
  position: relative;
  z-index: 1;
}

.hero__main {
  color: $white;
  left: 0;
  padding-top: 20.5%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
