//
//   @loading
// --------------------------------------------------------
//  _4_modules/_loading.scss
// --------------------------------------------------------
//
//  TBD
//
// --------------------------------------------------------

.loading {
  animation: fade-in .15s linear 1;
  background: #000;
  background: rgba(#000, .8);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2000;
  &:after {
    animation: rotating 2s linear infinite;
    color: #fff;
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAD0ElEQVR4Aa3XzYtdZx3A8c/znHPvncmdDNO0Q8YkBslY2pqiNIJo3RQ1XVR8RxFUxBcq1Y3+B+pOXAqKIijSjVTsQrsQQfBlJcZaU6OltjTNTG4a2zsznZv7ep7zCHKXDunMPZ/VWf2+/H5n9QS3lU+46IJ7nXbWwFf81iGEDAf7pI+56C4AcErPG1Y6SPANj7oHjNWiiDYeaCLwXj9xNwaSQhBFbcDTDiH6f77tT+7W11cJVnQta2PmRQ/rscgG5/zI+428Liqtoe+KS/7iedu2YJHAh/1CSw+cxGU/9ISbjixkAHjEU5JtUWnDa77le0AzgXXbsi2ltg2/9qiewwuCLAOUAPiplhdE0Yaf+zRHHB9EFUAE8HWPeEFWOONnC40nKAFCBu53Sd+e0qbHfc7RBFFgvkOCCIIfy16TbPrlkceTZfMttAUIGT7jcc8KNgzd55ZFtETmO0wpwZf1ZdzpsQXHU1kCtFTqiIe8y5baab/zhEVlSSEICi0iPiSoZF0/0IRKEAW0KB3zoOs47m9+pQm1LIKWMnrQpr5k1bMmmpGUoqjQLp1XSoLSFWjsSAGU0VkjtWzksqYkFKIgRuuGssKrrkKDfyGKimjFWFLY0dekQhDEUttMLRi61XAgi3IpqyRJJWtOEEVRjkaC2kxpSXOKeSBE+6LaxLJVzSmFecB/lJKxVRuaErUEQUG0pSWpdGxqSlsHhUIuPWcqq43doyldLbWsUEV/dk1HbddbNGUNURQNoz3PuEOy65wHNKHtmCxqmRlG/EEpmeEjmrCmIwg6huqI33vecbUtD7nXoqJTkqAQ7BAx8ZSTKlMTX7Wos7pqwbJ9t4jgSf92p2TLeZ+3iBPebCJqKfQggoHvOq5Qu+qzPrHA9d8hIVhx3QAi4JInnVWZ2PJFDzuKVRdkSdB1yzWgBPB9b7PuFQPJ1wS/cTh3uSAbz8/znAxEAFPf0bUkG7jhCz7oME55j2isUDjmXwYAxTcB2DH0PkNjE2PvdkbPntvreLv7TY0FwZprXjz4nfxxnzJ2U5atG/ijp10zdZA7vMmmFbtmaqWOl/1dPjjAfR6z7mWVpG3VSM8/vOSGPTWAY9acdMaK0shQrbYse8ZVODgAq77knW56XZDQ0TG2a8e+kVrUsWRZYWRoppZEXa/6qz63D8AHfNSSV4xktUoWRVGWzExMTVSSWpJ1Jf90Wc0bDXDaRed17dk3VavV84HJ/Gt+9en/jngDDhOAUy54q5NKY1OVmSRJMrJoase2l/TgKAEINp1zQlshCpKZmamJXdf1TBwM/wWUBGknkPTm9gAAAABJRU5ErkJggg==);
    left: 50%;
    margin: -25px 0 0 -23px;
    position: fixed;
    top: 50%;
    transform-origin: 23px 25px;
    z-index: 2005;
  }
  @include legacy() {
    .lte-ie8 & {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    }
  }
}