//
//   @modals
// ---------------------------------------------------------
//  _4_modules/_modals.scss
// ---------------------------------------------------------
//
//  These are very basic modals.
//
// ---------------------------------------------------------

.modal {
  position: fixed;
  z-index: 200; // modals live in level 2
  top: 0; bottom: 0; left: 0; right: 0;
  border: 1rem solid black;
  background: white;
  color: black;
}

// modal header
.modal__header {
  height: 3rem;
  padding: 1rem;
  p {
    font-size: .8rem;
    line-height: 1.2;
  }
}

.modal__close {
  position: absolute;
  right: 1.4rem;
  top: 1rem;
}

// modal body
.modal__body {
  bottom: 1rem;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 3rem; // same as header height
}
