//
//   @tabs
// --------------------------------------------------------
//  _4_modules/_tabs.scss
// --------------------------------------------------------
//
//  Tabs.
//
// --------------------------------------------------------

.tab.is-active {
  // Styles are usually applied to the individual module
  pointer-events: none;
}

.tab__panels {
  position: relative;
  // height is set by js by reading target panel
}

// by default, active panels have regular positioning
.tab__panel {
  opacity: 0;
  position: absolute;
  top: -200%;
  left: -200%;
  &.is-active {
    position: relative;
    opacity: 1;
    top: 0;
    left: 0;
  }
  .tab__panels.is-activated & { // only if the parent is 'is-activated' do they get absolute
    &.is-active {
      position: absolute;
    }
  }
}
