//
//   @tooltips
// ---------------------------------------------------------
//  _4_modules/_tooltips.scss
// ---------------------------------------------------------
//
//  Hover tooltips.
//
// ---------------------------------------------------------




// the element you hover over
[data-behavior=tooltip] {
  position: relative;
}




// the tooltip itself
.tooltip {
  @include arrow(down, #555, 1em, #555, 0);
  background: #555;
  bottom: 100%;
  content: attr(title);
  position: absolute;
}
