    <!-- Site's Header-->
    <header class="site-header" role="banner">
      <div class="container">

        <!-- Branding, can be a logo, img ect. -->
        <a class="branding" href="{{ baseurl }}">Branding</a>

        <!-- Main site nav -->
        <nav class="site-nav">
          <ul class="nav" role="navigation">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </nav>

      </div>
    </header>