//
//   @embed-font
// --------------------------------------------------------
//  _1_foundations/_mixins/_embed-font.scss
// --------------------------------------------------------
//
//  Use this mixin to embed a font
//
//  $font-name is used in your css in font-family declarations
//  $font-filepath-and-name is the location of your font
//  file and the filename WITHOUT the file extension.  The
//  extensions are added here in the mixin
//
//  Example:
//  @include embed-font("interstate-light", "/fonts/interstate_light-webfont");
//
// --------------------------------------------------------

@mixin embed-font($font-name, $font-filepath-and-name){
  @font-face {
    font-family: $font-name;
    src: url($font-filepath-and-name+".eot"); /* IE9 Compat Modes */
    src: url($font-filepath-and-name+".eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
         url($font-filepath-and-name+".woff") format('woff'), /* Modern Browsers */
         url($font-filepath-and-name+".ttf")  format('truetype'), /* Safari, Android, iOS */
         url($font-filepath-and-name+".svg#svgFontName") format('svg'); /* Legacy iOS */
    }
}




@mixin icon-font($font-name){
  font-family: $font-name;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
}