@import "libs/utilities";
@import "settings";

body::before {
    content: '{ "l": {"queryMin": "#{$bp-medium}", "gutter": #{grid-gutter(l)}, "cols": [#{grid-cols(l)}]}, "lb": {"queryMin": "#{$bp-medium}", "gutter": #{grid-gutter(lb)}, "cols": [#{grid-cols(lb)}]}, "lc": {"queryMin": "#{$bp-medium}", "gutter": #{grid-gutter(lc)}, "cols": [#{grid-cols(lc)}]}, "m": {"queryMin": "#{$bp-small}", "queryMax": "#{$bp-medium}", "gutter": #{grid-gutter(m)}, "cols": [#{grid-cols(m)}]}, "mb": {"queryMin": "#{$bp-small}", "queryMax": "#{$bp-medium}", "gutter": #{grid-gutter(mb)}, "cols": [#{grid-cols(mb)}]}, "s": {"query-max": "#{$bp-small}", "gutter": #{grid-gutter(s)}, "cols": [#{grid-cols(s)}]} }';
    display: none;
}


#gridsetoverlaywrap{position:static;}

#gridwrap{display:block;position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000;pointer-events:none;font-family:Helvetica, Arial, sans-serif !important;}

#gridoverlay{position:relative;height:100%;overflow:hidden !important;background:none !important;}

#gridoverlay div{display:block;position:static;height:100%;color:#bcbcff;}

#gridoverlay .gridset{position:absolute;width:100%;height:100%;top:0;left:0;opacity:0.7;}

#gridoverlay .gridset div{text-align:left;font-size:10px !important;border-right:1px solid #bcbcff;border-left:1px solid #bcbcff;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}

#gridoverlay div small{width:100%;display:block;text-align:center;color:#7D80DB;font-weight:700 !important;border-bottom:1px solid #bcbcff;border-top:1px solid #bcbcff;padding-top:0 !important;background-color:rgb(240,240,255) !important;text-transform:none !important;height:22px !important;line-height:22px !important;text-style:normal !important;}

#gridoverlay .gridset:nth-child(2) div{border-style:dashed;padding-top:23px;}
#gridoverlay .gridset:nth-child(2) small{border-style:dashed;}
#gridoverlay .gridset:nth-child(3) div{border-style:dotted;padding-top:45px;}
#gridoverlay .gridset:nth-child(3) small{border-style:dotted;}

#gridsetoverlaywrap .noshow{display:none;}

#gridscreenwidthwrap{display:block !important;width:100% !important;position:absolute !important;bottom:0 !important;left:0 !important;height:30px !important;border-top:1px solid #7D80DB !important;opacity:0.7 !important;background-color:rgb(240,240,255) !important;}

#gridscreenwidth{display:block !important;width:100% !important;text-align:center !important;font-size:12px !important;line-height:1 !important;padding-top:8px !important;font-family:Helvetica, Arial, sans-serif !important; margin: 0 !important;color:#7D80DB !important;}
