// SET UP YOUR VARIABLES IN THIS FILE

// Table of Contents
// -------------------------------------------------------------

// ::URLs
// ::Typography
// ::Dimensions
// ::Colors
// ::Texture



// ::URLs				================================================
// =====================================================================

// set the base url of the site (helpful for switching between server environments)
$baseurl                   : '/' !default; // typically '/' or '../'



// ::Typography         ================================================
// =====================================================================

$base-font-size             : 18;
$small-font-size            : golden-ratio(($base-font-size / 2), 1);
$smallest-font-size         : golden-ratio($base-font-size, -1);
$large-font-size            : golden-ratio($base-font-size, 1);
$largest-font-size          : golden-ratio($base-font-size, 2);

$base-line-height           : 18 * 1.5;


// typefaces
@include font-face('BLOKKRegular', '#{$baseurl}type/BLOKKRegular/webfonts/BLOKKRegular');
//@include font-face('BLOKKNeue-Regular', '#{$baseurl}type/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular');

$base-font-family			: BLOKKRegular, $helvetica;

$alt-font-family			: BLOKKRegular, $palatino;

// Your headings may inherit the base typeface, or you may set a different font stack
$heading-font-family		: $alt-font-family;

// You can choose a special typeface just for ampersands, too
$amp-font-family			: local('Georgia'), local('Garamond'), local('Palatino'), local('Book Antiqua');

$code-font-family			: $monospace;



// ::Dimensions			================================================
// =====================================================================

$pad-small					: $base-font-size / 2;
$pad						: $base-font-size;
$pad-large					: $base-line-height;

$vertical-rhythm 			: $base-font-size / 2;	// should equal a whole number

// breakpoints
$bp-small                   : 480/16 + 0em;
$bp-medium                  : 768/16 + 0em;
$bp-large                   : 992/16 + 0em;

$maxwidth                   : 1440/16 + 0em;

// grid dimensions
@function grid-cols($prefix){
  @if $prefix == s	{ @return (11.212121212121213,32.7878787878788,32.7878787878788,11.212121212121213); }
  @if $prefix == m	{ @return (11.212121212121213,16.2689393939394,16.2689393939394,16.2689393939394,16.2689393939394,11.212121212121213); }
  @if $prefix == mb	{ @return (11.212121212121213,22.5252525252525,22.5252525252525,22.5252525252525,11.212121212121213); }
  @if $prefix == l	{ @return (11.212121212121213,16.8939393939394,16.8939393939394,16.893939393939394,16.8939393939394,11.212121212121213); }
  @if $prefix == lb	{ @return (11.212121212121213,23.1919191919192,23.1919191919192,23.1919191919192,11.212121212121213); }
  @if $prefix == lc	{ @return (11.212121212121213,11.212121212121213,22.5505000407102,22.5505000407102,11.212121212121213,11.212121212121213); }
}

@function grid-gutter($prefix){
	@if $prefix == s	{ @return 4; }
	@if $prefix == m	{ @return 2.5; }
	@if $prefix == mb	{ @return 2.5; }
	@if $prefix == l	{ @return 2; }
	@if $prefix == lb	{ @return 2; }
	@if $prefix == lc	{ @return 2; }
}



// ::Colors				================================================
// =====================================================================

// Sometimes you may want $black and $white to be ‘almost black’ and ’off-white’
$black 						: rgb(33,36,32);
$white 						: rgb(255,255,255);

// Define your main color palette
$primary-color				: rgb(198,66,39);
$secondary-color			: rgb(92,125,77);
$tertiary-color 			: rgb(162,136,54);
$neutral-color				: rgb(125,96,62);

// Color variants
$dark-primary-color 		: darken($primary-color,6.667%);
$darker-primary-color 		: darken($primary-color,13.333%);
$darkest-primary-color 		: darken($primary-color,20%);
$light-primary-color 		: lighten($primary-color,16.667%);
$lighter-primary-color 		: lighten($primary-color,33.333%);
$lightest-primary-color		: lighten($primary-color,50%);

$dark-secondary-color 		: darken($secondary-color,6.667%);
$darker-secondary-color 	: darken($secondary-color,13.333%);
$darkest-secondary-color 	: darken($secondary-color,20%);
$light-secondary-color 		: lighten($secondary-color,16.667%);
$lighter-secondary-color 	: lighten($secondary-color,33.333%);
$lightest-secondary-color	: lighten($secondary-color,50%);

$dark-tertiary-color 		: darken($tertiary-color,6.667%);
$darker-tertiary-color 		: darken($tertiary-color,13.333%);
$darkest-tertiary-color 	: darken($tertiary-color,20%);
$light-tertiary-color 		: lighten($tertiary-color,16.667%);
$lighter-tertiary-color 	: lighten($tertiary-color,33.333%);
$lightest-tertiary-color	: lighten($tertiary-color,50%);

$dark-neutral-color 		: darken($neutral-color,6.667%);
$darker-neutral-color 		: darken($neutral-color,13.333%);
$darkest-neutral-color 		: darken($neutral-color,20%);
$light-neutral-color 		: lighten($neutral-color,16.667%);
$lighter-neutral-color 		: lighten($neutral-color,33.333%);
$lightest-neutral-color		: lighten($neutral-color,50%);


// Assign colors to roles
$body-color					: $white;
$text-color					: $black;

// Choose a color for your hyperlinks. Often this will be the $primary-color
$link-color 		    	: $primary-color;
$link-color-hover 			: $dark-primary-color;
$link-color-visited   		: $darker-primary-color;
$link-color-focus 			: $dark-primary-color;

// Now define another set of colors. These will be used to style alerts and buttons
$alert-color 				: rgb(218,79,73);
$error-color 				: rgb(176,20,0);
$info-color					: rgb(216,220,162);
$inverse-color 				: rgb(65,65,65);
$success-color 				: rgb(188,212,222);
$warning-color 				: $error-color;



// ::Texture			================================================
// =====================================================================

$border-color    				: $lighter-neutral-color;
$border-style					: solid;
$border-width 					: 1px;
$border-radius 					: 3px;
