//
//   @clearfix
// ---------------------------------------------------------
//  _2_layout/_clearfix.scss
// ---------------------------------------------------------
//
//  Use @extend %clearfix in your CSS
//
//  This version of the clearfix from:
//  http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
//
//  Acknowledgements:
//  Micro clearfix: [Nicolas Gallagher](http://nicolasgallagher.com/micro-clearfix-hack/)
//
//  Example:
//
//  .wrapper {
//    @extend %clearfix;
//    .content,
//    .sidebar {
//      float : left;
//    }
//  }
//
// ---------------------------------------------------------

.clearfix,
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}