//
//   @clearfix
// ---------------------------------------------------------
//  _2_layout/_clearfix.scss
// ---------------------------------------------------------
//
//  Use @extend %clearfix in your CSS
//
//  This version of the clearfix from:
//  http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
//
// ---------------------------------------------------------

.clearfix,
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}