//
//   @container
// --------------------------------------------------------
//  _2_layout/_container.scss
// --------------------------------------------------------
//
//
//  Restricts content to the site's max width
//  but allows for full color bars for sections.
//
//  Example: Container
//
//  <section class="awesome-section-with-background-color">
//    <div class="container">
//      <!--your content here-->
//    </div>
//  </section>
//
// --------------------------------------------------------

.container {
  @extend %clearfix;
  margin: 0 auto;
  max-width: rem(1096); // restricts width
  padding: 0 rem(32);   // adds padding on viewports less than the max-width
}