//
//   @grids
// ---------------------------------------------------------
//  _2_layout/_grids.scss
// ---------------------------------------------------------
//
//  We use a simple grid system.  It starts with
//  a wrapper div that can have a classname of .grid-wrap
//  or .gw for short.  Inside of that div, you'll nest
//  your grid units.  These are divs with classname of
//  either .grid or .g for short.
//
//  For a grid wrap containing equally-sized grid units, like
//  a gallery of thumbnails for instance, use the ups
//  classes like .three-up.  If you do this, you won't need
//  to specify the widths on the grid units.
//
//  For individual sizes, combine .g/.grid divs
//  with width classes and you're all set to go.
//
// ---------------------------------------------------------
//
//  Example: Grid
//  <div class="gw two-up">
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//  </div><!--/gw-->
//  <div class="gw three-up">
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//  </div><!--/gw-->
//  <div class="gw six-up">
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//  </div><!--/gw-->
//   <div class="gw twelve-up">
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g"><img src="http://fillmurray.com/500/300"></div>
//  </div><!--/gw-->
//
//  <div class="gw">
//    <div class="g one-fourth"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g one-half"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g one-eighth"><img src="http://fillmurray.com/500/300"></div>
//    <div class="g one-eighth"><img src="http://fillmurray.com/500/300"></div>
//  </div><!--/gw-->
//
// --------------------------------------------------------

// Grid Wrap
.grid-wrap,
.gw {
  @extend %clearfix;
  list-style-type: none; // Sometimes, ul are used for grid wraps
  margin: 0 -1*$grid-padding;
}




// Grid
.grid,
.g {
  @extend %clearfix;
  padding: 0 $grid-padding;
  float: left;
  min-height: 100px;
  @media (max-width: $grid-stack-at-width) { // Grid Collapsed for mobile
    width: 100% !important; // overrides other width classes
    float: none;
  }
}
