//
//   @hide
// ---------------------------------------------------------
//
//  Utility state classes to hide things in different ways
//
// ---------------------------------------------------------

// The classic, display: none
.is-hidden {
  display: none;
}




// Use this if you still need JS access to this element
// it's visually hidden but still in the DOM
.is-visually-hidden {
  height: 0;
  left: -9999%;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
}