//
//   @icons
// ---------------------------------------------------------
//  _3_elements/_icons.scss
// ---------------------------------------------------------
//
//  Define classes for icons.  First a base class, .icon, and
//  then any modifiers.
//
//  Near the end of this partial, we're including symbolset,
//  which is a font-icon that we dig.
//
// ---------------------------------------------------------
//
//  Your open and close icons
//
//  Example: Open Icon
//  <i class="icon icon--open">&plus;</i>
//
//  Example: Close Icon
//  <i class="icon icon--close">&times;</i>
//
// ---------------------------------------------------------

.icon {
  color: inherit;
  display: inline-block;
  font-style: normal;
  vertical-align: middle;
}

// open mod
.icon--open {
  border: 1px solid black;
  text-align: center;
  border-radius: 50%;
}

// close mod
.icon--close {
  border: 2px solid black;
  text-align: center;
  border-radius: 50%;
}

// nudge
.icon--down {
  position: relative;
  top: .05em;
}
