//
//   @tables
// ---------------------------------------------------------
//  _3_elements/_tables.scss
// ---------------------------------------------------------
//
//  - Base styling for tables
//  - Class for striped rows
//
// ---------------------------------------------------------
//
//  Base table styling
//
//  Example: Table
//  <table>
//    <thead>
//      <tr>
//        <th>Heading</th>
//        <th>Heading</th>
//        <th>Heading</th>
//        <th>Heading</th>
//      </tr>
//    </thead>
//    <tbody>
//      <tr>
//        <td>Test</td>
//        <td>Test</td>
//        <td>Test</td>
//        <td>Test</td>
//      </tr>
//      <tr>
//        <td>Test</td>
//        <td>Test</td>
//        <td>Test</td>
//        <td>Test</td>
//      </tr>
//      <tr>
//        <td>Test</td>
//        <td>Test</td>
//        <td>Test</td>
//        <td>Test</td>
//      </tr>
//      <tr>
//        <td>Test</td>
//        <td>Test</td>
//        <td>Test</td>
//        <td>Test</td>
//      </tr>
//    </tbody>
//  </table>
//
// --------------------------------------------------------

table {
  border: none;
  border-collapse: collapse;
  width: 100%;
}

th {

}

th,
td {

}




//
//   @table--striped
// --------------------------------------------------------
//
//  Striped tables
//
//  Example: Table, striped
//  <table class="table--striped">
//    ...
//  </table>
//
// --------------------------------------------------------

.table--striped {
  tbody tr:nth-of-type(odd) {
    background-color: #eee;  // Or whatever color you want
  }
}
