//
//   @text
// --------------------------------------------------------
//  _3_elements/_text.scss
// --------------------------------------------------------
//
//  Some basic styles to paragraphs and inline styles.
//
// --------------------------------------------------------




//   @paragraphs
// --------------------------------------------------------
//
//  Example: Paragraphs
//  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
//  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
//
// --------------------------------------------------------

p {
  margin-bottom: 1em;
}




//   @inline
// --------------------------------------------------------
//
//  Common inline elements
//
//  Example: inline elements
//  <p>Lorem Ipsum is <b>bold</b> text of the <strong>strong</strong> printing and typesetting industry. Lorem Ipsum is <i>italic</i> simply dummy text <em>emphasized</em> of the printing and typesetting industry.</p<
//
// --------------------------------------------------------

b,
strong {
  @extend %sans-bold;  // If using a bold web-font, you specify the font, not the weight
}

i,
em {
  font-style: italic; // NOTE: use italic font-face if available instead of 'font-style: italic'
}
