//
//   @site-document
// --------------------------------------------------------
//  _5_sections/_site-document.scss
// --------------------------------------------------------
//
//  Main HTML structure & styles
//  Main body structure & styles
//
// --------------------------------------------------------




//   @HTML
// --------------------------------------------------------
//  HTML should contain the site's default background color
//  and font-size
// --------------------------------------------------------

html {
  background: $black;
}




//   @body
// --------------------------------------------------------
//  Body should contain the document's default font and
//  background color for the content, if that background
//  color is different than the html.
// --------------------------------------------------------

body {
  background: $body-color;
  color: $text-color;
  @extend %sans;
  font-size: em($base-font-size, 16);
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}
